* {
	box-sizing: border-box;
}
body{
  background-image: linear-gradient(to right, rgb(69, 69, 100), #8c67a5 );
  color: white;
  text-align: center;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}